In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.metrics import r2_score
from sklearn import linear_model

In [2]:
df = pd.read_csv(r"C:\Users\Nomthandazo\Downloads\energydata_complete.csv",encoding='latin-1')

In [3]:
X=df[['T2']]
y=df['T6']

In [4]:
X

              T2
0      19.200000
1      19.200000
2      19.200000
3      19.200000
4      19.200000
...          ...
19730  25.890000
19731  25.754000
19732  25.628571
19733  25.414000
19734  25.264286

[19735 rows x 1 columns]

In [5]:
X.shape

(19735, 1)

In [6]:
model = linear_model.LinearRegression()

In [7]:
model.fit(X,y)

LinearRegression()

In [8]:
y_pred = model.predict(X)

In [9]:
y_pred

array([ 5.37165597,  5.37165597,  5.37165597, ..., 19.67562202,
       19.19818742, 18.86506395])

In [10]:
r2_score=(y,y_pred)
r2_score

(0         7.026667
 1         6.833333
 2         6.560000
 3         6.433333
 4         6.366667
            ...
 19730    24.796667
 19731    24.196667
 19732    23.626667
 19733    22.433333
 19734    21.026667
 Name: T6, Length: 19735, dtype: float64,
 array([ 5.37165597,  5.37165597,  5.37165597, ..., 19.67562202,
        19.19818742, 18.86506395]))

In [11]:
df_1 = pd.DataFrame({'Actual': y, 'Predicted':y_pred})
' residual sum of squares is : '+ str(np.sum(np.square(df_1['Actual'] - df_1['Predicted'])))

' residual sum of squares is : 262122.66582000192'

In [12]:
df_1

          Actual  Predicted
0       7.026667   5.371656
1       6.833333   5.371656
2       6.560000   5.371656
3       6.433333   5.371656
4       6.366667   5.371656
...          ...        ...
19730  24.796667  20.257317
19731  24.196667  19.954708
19732  23.626667  19.675622
19733  22.433333  19.198187
19734  21.026667  18.865064

[19735 rows x 2 columns]

In [13]:
df_1=df.drop('date',axis=1)

In [14]:
df_2=df_1.drop('lights',axis=1)

In [15]:
df_2

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [16]:
#Firstly, we normalise our dataset to a common scale using the min max scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df_2), columns=df_2.columns)
features_df = normalised_df.drop(columns=['Appliances'])
heating_target = normalised_df['Appliances']

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, heating_target,
test_size= 0.3 , random_state= 1 )

In [18]:
linear_model = linear_model.LinearRegression()

In [19]:
linear_model.fit(x_train, y_train)

LinearRegression()

In [20]:
predicted_values = linear_model.predict(x_test)

In [21]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2 )

0.05

In [22]:
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2 )

46.1

In [23]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2 )

0.16

In [24]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3 )

0.088

In [25]:
def  get_weights_df(model,  feat,  col_name) : 
    #this  function  returns  the  weight  of  every  feature 
    weights  =  pd.Series(model.coef_,  feat.columns).sort_values() 
    weights_df  =  pd.DataFrame(weights).reset_index() 
    weights_df.columns  =  [ 'Features' ,  col_name] 
    weights_df[col_name].round( 3 ) 
    return  weights_df

In [26]:
linear_model_weights  =  get_weights_df(linear_model,  x_train,  'Linear_Model_Weight' )

In [27]:
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.458176
1         T_out            -0.330375
2            T2            -0.249801
3            T9            -0.204718
4          RH_8            -0.156534
5        RH_out            -0.076223
6          RH_7            -0.047614
7          RH_9            -0.036034
8           rv1            -0.000350
9           rv2            -0.000350
10  Press_mm_hg             0.004642
11           T1             0.005960
12   Visibility             0.010992
13           T7             0.012583
14           T5             0.012616
15         RH_5             0.016276
16         RH_4             0.026659
17           T4             0.027368
18    Windspeed             0.027918
19         RH_6             0.038094
20           T8             0.088501
21         RH_3             0.095538
22    Tdewpoint             0.119484
23           T6             0.249019
24           T3             0.293245
25         RH_1             0.535743

In [28]:
from  sklearn.linear_model  import  Ridge 
ridge_reg  =  Ridge(alpha= 0.4 ) 
ridge_reg.fit(x_train,  y_train)

Ridge(alpha=0.4)

In [29]:
pred = ridge_reg.predict(x_test)

In [30]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, pred))
round(rmse, 3 )

0.088

In [31]:
from  sklearn.linear_model  import  Lasso 
lasso_reg  =  Lasso(alpha= 0.001 ) 
lasso_reg.fit(x_train,  y_train)

Lasso(alpha=0.001)

In [32]:
lasso_weights_df  =  get_weights_df(lasso_reg,  x_train,  'Lasso_weight' )

In [33]:
lasso_weights_df

       Features  Lasso_weight
0        RH_out     -0.047062
1            T1      0.000000
2     Tdewpoint      0.000000
3    Visibility      0.000000
4   Press_mm_hg     -0.000000
5         T_out      0.000000
6          RH_9     -0.000000
7            T9     -0.000000
8          RH_8     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4      0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21         RH_6     -0.000000
22          rv2     -0.000000
23           T2      0.000084
24    Windspeed      0.002774
25         RH_1      0.008410

In [34]:
pred = lasso_reg.predict(x_test)

In [35]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, pred))
round(rmse, 3 )

0.095